*.mro
*.log
*.gz
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.pkl

tmp/

logs/
250307_A00626_0942_BHV7KVDMXY_1/HV7KVDMXY/
cellranger_reference/
R26_Emx1_Ctrl_adult_20250317134903/
R26_Emx1_Ctrl_adult_20250317135050/
_*
*.errors
*.jobinfo
fork0/
*.out
reference/
Stats/
slurm_logs/
R26_*/
refdata-gex-GRCm39-2024-A/
Archive/
*.bam
*.bai
*.fastq
*.json
*.h5
*.loom
*.h5ad
*.h5ad.gz
*.h5ad.gz.gz
*.h5ad.gz.gz.gz
*.h5ad.gz.gz.gz.gz
*tgz
post_analysis/results/
biomarkers/
